# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode
.vscode/

# Ignore compiled binaries produced by `go build ./cmd/...`, but not the db/
# source directory
/web
/fetch
/scrape
/analyze
/db
!/db/
/client

# Ignore bazel output directories
bazel-*